@use "../../base.scss";
@import "../../breakpoints/breakpoints.scss";

.detailRoom {
  .groupDownloadLeft {
    position: absolute;
    z-index: -1;
    top: 96px;
    left: 0px;
  }

  .ellipseRight {
    position: absolute;
    z-index: -1;
    top: 96px;
    right: 0px;
    margin-top: -100px;
  }

  .groupDownloadRight {
    position: absolute;
    z-index: -1;
    top: 580px;
    right: 0;
  }

  .ellipseLeft {
    position: absolute;
    z-index: -1;
    top: 708px;
    left: 0px;
    margin-top: -100px;
  }

  .roomTitle {
    padding: 176px 198px 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include media("<=tablet") {
      padding: 176px 96px 20px;
    }

    @include media("<=phone") {
      padding: 176px 44px 20px;
    }

    &Top {
      &Name {
        font: base.$content-40;
        font-weight: 700;
        color: base.$primary-color;
        margin-bottom: 16px;
      }

      &Story {
        &Date {
          display: flex;
          flex-direction: row;
          margin-bottom: 16px;

          .icon {
            font-size: 30px;
            color: base.$primary-color;
            margin-right: 16px;
          }

          .info {
            font: base.$content-24;
            display: flex;
          }
        }

        &Number {
          display: flex;
          flex-direction: row;

          .icon {
            font-size: 30px;
            color: base.$primary-color;
            margin-right: 16px;
          }

          .info {
            font: base.$content-24;
            margin-right: 10px;

            span {
              font: base.$content-16;
              color: #9fa3a0;
            }
          }

          &Approve {
            text-decoration: none;

            &Btn {
              display: flex;
              background-color: base.$primary-color;
              font: base.$content-16;
              font-weight: 600;
              color: base.$white-color;
              border: none;
              border-radius: 40px;
              height: 35px;
              padding: 8px 16px;
              cursor: pointer;
            }
          }
        }
      }
    }

    &Btn {
      display: flex;
      flex-direction: column;
      width: 25%;

      button {
        width: 100%;
        height: 57px;
        margin-bottom: 16px;
        font: base.$content-20;
        font-weight: 600;
        justify-content: center;
        text-align: center;
      }
    }

    &Join {
      display: flex;
      flex-direction: column;
      width: 25%;
      padding: 56px 0;

      button {
        width: 100%;
        height: 57px;
        margin-bottom: 16px;
        font: base.$content-20;
        font-weight: 600;
        justify-content: center;
        text-align: center;
      }
    }
  }

  .detailContainer {
    margin: 0 198px 19px;

    @include media("<=tablet") {
      margin: 0 96px 19px;
    }

    @include media("<=phone") {
      margin: 0 44px 19px;
      font: base.$content-16;
      font-weight: 600;
    }

    &Name {
      &About {
        text-decoration: none;
        color: base.$primary-color;
        font: base.$content-20;
        font-weight: 600;
        border-bottom: 4px solid base.$primary-color;
        padding-bottom: 16px;
      }
    }
  }

  .containerLine {
    position: absolute;
    background-color: #9fa3a0;
    width: 100%;
    height: 1px;
  }

  .containerMaterial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 44px 198px 72px;

    @include media("<=tablet") {
      margin: 44px 96px 72px;
    }

    @include media("<=phone") {
      margin: 44px 44px 72px;
    }

    &Description {
      border: 1px solid base.$light-green-color;
      border-radius: 12px;
      padding: 24px;
      margin-right: 30px;
      width: 70%;

      &Name {
        font: base.$content-20;
        font-weight: 600;
        margin-bottom: 24px;
      }

      img {
        width: 85%;
        display: flex;
        margin: auto;
        padding-bottom: 40px;
      }

      &Narration {
        h5 {
          font: base.$content-16;
          font-weight: 400;
          line-height: 20.11px;

          span {
            font-weight: 700;
          }

          ul {
            list-style-position: inside;
            padding-left: 10px;
          }
        }
      }
    }

    &Host {
      width: 30%;

      &Square {
        border: 1px solid base.$light-green-color;
        border-radius: 12px;
        padding: 24px 32px 32px;
        margin-bottom: 16px;

        &Name {
          font: base.$content-20;
          font-weight: 600;
          margin-bottom: 24px;
        }

        &Profile {
          display: flex;
          margin-bottom: 32px;

          &Name {
            font: base.$content-16;
            margin-left: 16px;
            font-weight: 600;
            height: 40px;
            line-height: 40px;
          }
        }

        &Status {
          font: base.$content-20;
          font-weight: 600;
          margin-bottom: 8px;
        }

        &Exp {
          font: base.$content-20;
          font-weight: 600;
          color: base.$warning-color;
        }
      }

      .HostBtn {
        display: flex;
        width: 100%;
        text-align: center;
        justify-content: center;

        button {
          padding: 0 48px;
          width: 100%;
          height: 57px;
          font: base.$content-20;
          font-weight: 600;
        }
      }
    }
  }
}
