@use "../../base.scss";
@import "../../breakpoints/breakpoints.scss";

.detailRoom {
  .groupDownloadLeft {
    position: absolute;
    z-index: -1;
    top: 96px;
    left: 0px;
  }

  .ellipseRight {
    position: absolute;
    z-index: -1;
    top: 96px;
    right: 0px;
    margin-top: -100px;
  }

  .groupDownloadRight {
    position: absolute;
    z-index: -1;
    top: 580px;
    right: 0;
  }

  .ellipseLeft {
    position: absolute;
    z-index: -1;
    top: 708px;
    left: 0px;
    margin-top: -100px;
  }

  .containerLine {
    position: absolute;
    content: "";
    top: 404px;
    background-color: #9fa3a0;
    width: 100%;
    height: 1px;
  }

  .detailTitle {
    padding: 176px 198px 38px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .titleHead {
      .titleName {
        font: base.$content-40;
        font-weight: 700;
        color: base.$primary-color;
        margin-bottom: 16px;
      }

      .titleStory {
        .titleDate {
          display: flex;
          flex-direction: row;
          margin-bottom: 16px;

          .icon {
            font-size: 30px;
            color: base.$primary-color;
            margin-right: 16px;
          }

          .info {
            font: base.$content-24;
            display: flex;
          }
        }

        .titleNumber {
          display: flex;
          flex-direction: row;
          text-align: end;

          .icon {
            font-size: 30px;
            color: base.$primary-color;
            margin-right: 16px;
          }

          .info {
            font: base.$content-24;
            margin-right: 10px;

            span {
              font: base.$content-16;
              color: #9fa3a0;
            }
          }

          button {
            display: flex;
            justify-content: center;
            text-align: center;
            width: 25%;
            height: 24px;
            font: base.$content-14;
            margin: 7px 0 0 0;
            padding: 1.5px;

            .approveBtn {
              text-decoration: none;
              color: base.$white-color;
            }
          }
        }
      }
    }

    .edDeBtn {
      display: flex;
      flex-direction: column;
      width: 25%;
    }

    button {
      width: 100%;
      height: 57px;
      margin-bottom: 16px;
      font: base.$content-20;
      font-weight: 600;
      justify-content: center;
      text-align: center;
    }
  }

  .detailContainer {
    padding: 0 198px 72px;

    .containerTitle {
      .containerAbout {
        text-decoration: none;
        color: base.$primary-color;
        font: base.$content-20;
        font-weight: 600;
        border-bottom: 4px solid base.$primary-color;
        padding-bottom: 16px;
      }
    }

    .containerMaterial {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 44px;

      .materialDescription {
        border: 1px solid base.$light-green-color;
        border-radius: 12px;
        padding: 24px;
        margin-right: 30px;
        width: 70%;

        .descriptionTitle {
          font: base.$content-20;
          font-weight: 600;
          margin-bottom: 24px;
        }

        img {
          width: 512px;
          display: flex;
          margin: auto;
          padding-bottom: 40px;
        }

        .descriptionNarration {
          font: base.$content-16;
          line-height: 20.11px;

          span {
            font-weight: 700;
          }

          ul {
            list-style-position: inside;
            padding-left: 10px;
          }
        }
      }

      .hostSection {
        width: 30%;

        .materialHost {
          border: 1px solid base.$light-green-color;
          border-radius: 12px;
          padding: 24px 32px 32px;
          margin-bottom: 16px;

          .hostTitle {
            font: base.$content-20;
            font-weight: 600;
            margin-bottom: 24px;
          }

          .hostProfile {
            display: flex;
            margin-bottom: 32px;

            .hostName {
              font: base.$content-14;
              margin-left: 16px;
              font-weight: 600;
              height: 48px;
              line-height: 48px;
            }
          }

          .hostClassStatus1 {
            font: base.$content-20;
            font-weight: 600;
            margin-bottom: 8px;
          }

          .hostClassStatus2 {
            font: base.$content-20;
            font-weight: 600;
            color: base.$warning-color;
          }
        }

        .startBtn {
          display: flex;
          justify-content: center;
          text-align: center;
          width: 100%;

          button {
            width: 100%;
            height: 57px;
            font: base.$content-20;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.openAlert {
  .proceedsAlert {
    padding: 20px;
    position: absolute;
    text-align: center;
    top: 153px;
    width: 30%;
    right: 35%;
    height: auto;
    background-color: base.$form-color;
    border: 1px solid base.$primary-color;
    border-radius: 12px;
    box-shadow: 0px 0px 10px 0px #0000001a;
    z-index: 10;

    .cross {
      margin: 12px;
      position: absolute;
      font-size: 8px;
      cursor: pointer;
      right: 0;
      top: 0;
    }

    .alertText {
      font: base.$content-20;
      font-weight: 600;
      color: base.$primary-color;
      margin-bottom: 20px;
    }

    .okayBtn {
      padding: 16px auto;
      display: flex;
      justify-content: center;

      button {
        width: 189px;
        height: 48px;
        font: base.$content-14;

        &:nth-of-type(1) {
          &::after {
            content: "OK";
            top: 50%;
            transform: translateY(-10px);
            left: 0;
            z-index: 10;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .openAlert:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
  }
}
