@use "../../base";
@import "../../breakpoints/breakpoints.scss";

.button {
  font: base.$content-16;
  font-weight: 600;
  cursor: pointer;
  border-radius: 40px;
  padding: 1rem 2.5rem;
  position: relative;
  overflow: hidden;
  z-index: 3;

  @include media("<=desktop") {
    padding: 0.5rem;
  }

  &:hover {
    color: white;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: base.$light-green-color;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    transition: all 1s;
  }

  &:hover:before {
    height: 190%;
  }

  &Green {
    @include base.theme;
    border: 1px solid base.$primary-color;
  }

  &White {
    @include base.theme;
    background-color: base.$white-color;
    color: base.$primary-color;
    border: 1px solid base.$primary-color;
  }
}

.heroMainContainerButton {
  background-color: base.$white-color;
  border: 1px solid base.$primary-color;
  color: base.$primary-color;
  padding: 1rem;
  margin: 1rem 1rem 0;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  width: 100%;
  text-align: center;
  position: relative;
}

.addClass {
  background-color: base.$primary-color;
  border: 1px solid base.$primary-color;
  padding: 0.75rem 0.75rem;
  margin: 0 1rem 0;
  width: 8.5rem;
  color: base.$white-color;
  display: flex;
  justify-content: space-evenly;
}

.buttonSosmed {
  background-color: base.$white-color;
  border: 1px solid base.$primary-color;
  color: base.$primary-color;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s;
  width: 48%;
  text-align: center;
  position: relative;
}
