@use "../../base.scss";
@import "../../breakpoints/breakpoints.scss";

.detailRoom {
  .groupDownloadLeft {
    position: absolute;
    z-index: -1;
    top: 96px;
    left: 0px;
  }

  .ellipseRight {
    position: absolute;
    z-index: -1;
    top: 96px;
    right: 0px;
    margin-top: -100px;
  }

  .groupDownloadRight {
    position: absolute;
    z-index: -1;
    top: 580px;
    right: 0;
  }

  .ellipseLeft {
    position: absolute;
    z-index: -1;
    top: 708px;
    left: 0px;
    margin-top: -100px;
  }

  .detailTitle {
    padding: 176px 198px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .titleHead {
      .titleName {
        font: base.$content-40;
        font-weight: 700;
        margin-bottom: 16px;
      }
    }
  }

  .containerMenu {
    display: flex;
    justify-content: space-between;

    .containerTitle {
      margin: 20px 198px 0;
      display: flex;
      font: base.$content-20;
      font-weight: 600;

      .containerCreate {
        color: base.$primary-color;
        border-bottom: 3px solid base.$primary-color;
        margin-right: 48px;
      }

      .containerJoin {
        color: base.$primary-color;
        border-bottom: 3px solid base.$primary-color;
        margin-left: 48px;
      }

      p {
        padding-bottom: 16px;
        cursor: pointer;
        border-bottom: 3px solid transparent;
        color: base.$secondary-color;

        &:hover {
          color: base.$primary-color;
          border-bottom: 3px solid base.$primary-color;
          opacity: 0.5;
        }
      }
    }

    .addClassBtn {
      width: 20%;

      button {
        .addBtn {
          text-decoration: none;
          color: base.$white-color;

          .plusIcon {
            margin-left: 8px;
          }
        }
      }
    }
  }

  .containerLine {
    position: absolute;
    background-color: #9fa3a0;
    width: 100%;
    height: 1px;
  }

  .containerCards {
    margin: 56px 150px;
    // width: 100%;
  }

  // .detailContainer {
  //   .containerDesc {
  //     position: relative;
  //     display: flex;
  //     flex-direction: column;
  //     padding: 48px 198px 184px;

  //     .hero {
  //       display: flex;
  //       height: 178px;
  //       margin: auto;
  //     }

  //     .containerExplain {
  //       font: base.$content-20;
  //       margin: auto;
  //       margin-top: 16px;
  //     }
  //   }
  // }
}
