@use "../../base.scss";
@import "../../breakpoints/breakpoints.scss";

.approveParticipant {
  .groupDownloadLeft {
    position: absolute;
    z-index: -1;
    top: 96px;
    left: 0px;
  }

  .ellipseRight {
    position: absolute;
    z-index: -1;
    top: 96px;
    right: 0px;
    margin-top: -100px;
  }

  .groupDownloadRight {
    position: absolute;
    z-index: -1;
    top: 580px;
    right: 0;
  }

  .ellipseLeft {
    position: absolute;
    z-index: -1;
    top: 708px;
    left: 0px;
    margin-top: -100px;
  }

  .approveContainer {
    padding: 12rem 12.25rem 5rem;

    &Title {
      font: base.$content-40;
      font-weight: 700;
    }

    &Limit {
      margin: 2.5rem 20%;
      padding: 1.25rem;
      font: base.$content-16;
      font-weight: 400;

      &Title {
        font: base.$content-20;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      &Box {
        border: 1px solid base.$primary-color;
        border-radius: 0.75rem;
        max-height: 500px;
        overflow-y: scroll;
        overflow-x: hidden;

        &Header {
          padding: 1rem;
          display: flex;
          justify-content: space-between;

          &Search {
            font: base.$content-14;
            height: 34px;
            width: 45%;
            color: base.$secondary-color;
            border: 1px solid base.$primary-color;
            border-radius: 24px;
            padding: 6.5px 13.5px;

            &Icon {
              color: base.$primary-color;
              margin-right: 1rem;
              transform: translateY(2px);
            }

            &Input {
              all: unset;
              width: calc(100% - 3rem);

              &:focus {
                color: base.$black-color;
              }
            }
          }

          &Select {
            display: flex;
            align-items: center;

            p {
              margin-right: 10px;
              font: base.$content-16;
            }
          }
        }

        &Line {
          background-color: #9fa3a0;
          width: 100%;
          height: 1px;
          margin: 0;
          padding: 0;
        }

        &Body {
          padding: 0.4rem;

          &Check {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0.6rem;
          }
        }
      }

      &Button {
        display: flex;
        justify-content: flex-end;
        padding-top: 0.8rem;

        button {
          text-align: center;
          height: 42px;
          padding: 0.5rem 4rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
