@use "../../base.scss";
@import "../../breakpoints/breakpoints.scss";

.detailRoom {
  .groupDownloadLeft {
    position: absolute;
    z-index: -1;
    top: 96px;
    left: 0px;
  }

  .ellipseRight {
    position: absolute;
    z-index: -1;
    top: 96px;
    right: 0px;
    margin-top: -100px;
  }

  .groupDownloadRight {
    position: absolute;
    z-index: -1;
    top: 580px;
    right: 0;
  }

  .ellipseLeft {
    position: absolute;
    z-index: -1;
    top: 708px;
    left: 0px;
    margin-top: -100px;
  }

  .detailTitle {
    padding: 177px 150px 80px;

    .titlePage {
      font: base.$content-40;
      font-weight: 700;
    }

    .formBox {
      margin: 56px 46px 0;
      padding: 40px;
      background-color: base.$white-color;
      border: 1px solid base.$light-green-color;
      border-radius: 12px;
      box-shadow: 0px 0px 10px 0px #0000001a;

      &Img {
        display: flex;
        margin-bottom: 40px;

        &Name {
          width: 25%;
          padding: 48px 0;
          font: base.$content-16;
          font-weight: 600;
        }

        &Upload {
          display: flex;
          overflow: hidden;

          &Box {
            border: 1px dashed base.$grey-color;
            border-radius: 12px;
            padding: 44.5px;
            width: 116px;
            height: 116px;
            margin-right: 1rem;

            &Square {
              &Icon {
                height: 28.5px;
                width: 28.5px;
                color: base.$secondary-color;
                cursor: pointer;
              }
            }

            &Input {
              display: none;
              visibility: none;
            }
          }

          &Warn {
            font: base.$content-14;
            width: 150px;
            margin: auto;
          }
        }

        @include media("<=tablet") {
          display: flex;
          flex-direction: column;
        }
      }

      .classTitle {
        display: flex;
        margin-bottom: 40px;

        .titleAct {
          width: 25%;
          padding: 1rem 0;
          font: base.$content-16;
          font-weight: 600;
        }

        .titleBox {
          width: 75%;
          padding: 1rem;
          font: base.$content-16;
          border: 1px solid base.$grey-color;
          border-radius: 8px;

          &:focus {
            outline: none !important;
          }
        }
      }

      .classTopic {
        display: flex;
        margin-bottom: 40px;

        .titleAct {
          width: 25%;
          padding: 1rem 0;
          font: base.$content-16;
          font-weight: 600;
        }

        .topicBox {
          width: 40%;
          display: flex;
          justify-content: center;
          height: fit-content;
          font: base.$content-16;
          max-height: 3rem;
          min-width: 10rem;

          position: relative;

          &Filter {
            background-color: base.$white-color;
            border: 1px solid base.$grey-color;
            border-radius: 8px;
            padding: 1rem;
            width: 100%;
            height: 58px;
            text-align: center;
            font: base.$content-16;
            transition: all 0.5s;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            position: relative;

            &:hover {
              background-color: rgba($color: #000000, $alpha: 0.1);
            }

            span:last-child {
              position: absolute;
              right: 4%;
              top: 50%;
              transform: translateY(-35%);
            }
          }

          &Options {
            position: absolute;
            top: 120%;
            // transform: translateX(-50%);
            background-color: base.$white-color;
            box-shadow: 0 0 10px 2px #0000001a;
            border-radius: 8px;
            width: 100%;
            font: base.$content-16;
            color: base.$black-color;
            max-height: 19rem;
            z-index: 2;
            overflow-y: scroll;
            overflow-x: hidden;

            ul {
              list-style-type: none;
            }

            li {
              cursor: pointer;
              padding: 0.75rem 1rem;
              width: 100%;

              &:nth-of-type(1) {
                border-radius: 8px 0px 0 0;
              }

              &:last-child {
                border-radius: 0 0 0px 8px;
              }

              &:hover {
                background-color: base.$light-green-color;
              }

              input[type="radio"] {
                display: none;
              }
            }

            label {
              cursor: pointer;
            }
          }

          ::-webkit-scrollbar {
            width: 12px;
          }

          ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px base.$white-color;
            background-color: base.$white-color;
            border: 1px solid base.$grey-color;
            border-radius: 0px 8px 8px 0;
          }

          ::-webkit-scrollbar-thumb {
            border-radius: 8px;
            -webkit-box-shadow: inset 0 0 6px base.$grey-color;
            background-color: base.$grey-color;
            background-image: none;
          }
        }
      }

      .classParty {
        display: flex;
        margin-bottom: 40px;

        .titleAct {
          width: 25%;
          padding: 1rem 0;
          font: base.$content-16;
          font-weight: 600;
        }

        .partyBox {
          width: 40%;
          padding: 1rem;
          font: base.$content-16;
          border: 1px solid base.$grey-color;
          border-radius: 8px;

          &:focus {
            outline: none !important;
          }
        }
      }

      .classDate {
        display: flex;
        margin-bottom: 40px;

        .titleAct {
          width: 25%;
          padding: 1rem 0;
          font: base.$content-16;
          font-weight: 600;
        }

        .dateBox {
          position: relative;
          display: flex;
          justify-content: center;
          width: 25%;

          cursor: text;

          &Picker {
            width: 100%;
            padding: 1rem;
            border: 1px solid base.$grey-color;
            border-radius: 8px;
            font: base.$content-16;

            &:focus {
              outline: none !important;
            }
          }

          span {
            color: base.$primary-color;
            position: absolute;
            right: 5%;
            top: 36%;
          }
        }
      }

      .classTime {
        display: flex;
        margin-bottom: 40px;

        .titleAct {
          width: 25%;
          padding: 1rem 0;
          font: base.$content-16;
          font-weight: 600;
        }

        .timeOuter {
          width: 25%;
          display: flex;
          border: 1px solid base.$grey-color;
          border-radius: 8px;
          font: base.$content-16;

          .timeBox {
            width: 100%;
            border: none;
            border-radius: 10px;
            padding: 1rem;
            font: base.$content-16;
            cursor: text;

            &::-webkit-calendar-picker-indicator {
              filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(70deg)
                brightness(95%) contrast(80%);
              cursor: pointer;
            }

            &:focus {
              outline: none !important;
            }
          }

          p {
            padding: 1rem 0;
            font: base.$content-16;
          }
        }
      }

      .classDesc {
        display: flex;
        margin-bottom: 40px;

        .titleAct {
          width: 25%;
          padding: 1rem 0;
          font: base.$content-16;
          font-weight: 600;
        }

        .descBox {
          width: 75%;
          height: 200px;
          resize: none;
          padding: 1rem;
          border: 1px solid base.$grey-color;
          border-radius: 8px;
          font: base.$content-16;

          &:focus {
            outline: none !important;
          }
        }
      }

      .classStatus {
        display: flex;

        .titleAct {
          width: 25%;
          padding: 1rem 0;
          font: base.$content-20;
          font-weight: 600;
        }

        .statusBox {
          width: 40%;
          display: flex;
          justify-content: center;
          height: fit-content;
          font: base.$content-16;
          max-height: 3rem;
          min-width: 10rem;
          z-index: 10;
          position: relative;

          &Filter {
            background-color: base.$white-color;
            border: 1px solid base.$grey-color;
            border-radius: 8px;
            padding: 1rem;
            width: 100%;
            height: 58px;
            text-align: center;
            font: base.$content-16;
            transition: all 0.5s;
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            position: relative;

            &:hover {
              background-color: rgba($color: #000000, $alpha: 0.1);
            }

            span:last-child {
              position: absolute;
              right: 4%;
              top: 50%;
              transform: translateY(-35%);
            }
          }

          &Options {
            position: absolute;
            top: 120%;
            // transform: translateX(-50%);
            background-color: base.$white-color;
            box-shadow: 0 0 10px 2px #0000001a;
            border-radius: 8px;
            width: 100%;
            font: base.$content-16;
            color: base.$black-color;
            max-height: 19rem;
            overflow-y: scroll;
            overflow-x: hidden;

            ul {
              list-style-type: none;
            }

            li {
              cursor: pointer;
              padding: 0.75rem 1rem;
              width: 100%;

              &:nth-of-type(1) {
                border-radius: 8px 0px 0 0;
              }

              &:last-child {
                border-radius: 0 0 0px 8px;
              }

              &:hover {
                background-color: base.$light-green-color;
              }

              input[type="radio"] {
                display: none;
              }
            }

            label {
              cursor: pointer;
            }
          }

          ::-webkit-scrollbar {
            width: 12px;
          }

          ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px base.$white-color;
            background-color: base.$white-color;
            border: 1px solid base.$grey-color;
            border-radius: 0px 8px 8px 0;
          }

          ::-webkit-scrollbar-thumb {
            border-radius: 8px;
            -webkit-box-shadow: inset 0 0 6px base.$grey-color;
            background-color: base.$grey-color;
            background-image: none;
          }
        }
      }
    }

    .buttonBox {
      display: flex;
      justify-content: flex-end;
      margin: 0 46px;
      padding-top: 10px;

      button {
        text-align: center;
        height: 42px;
        padding: 8px 64px;
        margin-left: 1rem;

        .cancelBtn {
          text-decoration: none;
          color: base.$primary-color;
        }
      }
    }
  }
}
