@use "../../base";
@import "../../breakpoints/breakpoints.scss";

.card {
  width: 22.5%;
  height: fit-content;
  font: base.$content-16;
  transition: all 0.5s;
  position: relative;
  display: inline-block;
  margin: 0 calc((100% - 22.5% * 4) / 10);
  color: base.$black-color;
  box-shadow: 4px 2px 10px 0px base.$grey-color;
  border-radius: 20px;

  &:hover {
    box-shadow: 4px 2px 16px 2px #21445726;
    opacity: 0.85;
    animation: zoom 0.85s;
  }

  @keyframes zoom {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  @include media("<=tablet") {
    width: 15rem;
  }

  &ImageContainer {
    height: 15rem;
    border-radius: 20px 20px 0px 0px;
    position: relative;

    @include media("<=desktop") {
      height: 11.75rem;
    }

    .cardImage {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0px 0px;
    }

    .cardImageChip {
      position: absolute;
      margin: 0.5rem;
      padding: 0.25rem 0.5rem;
      width: 25%;
      text-align: center;
      border-radius: 8px;
      font: base.$content-14;
      color: base.$white-color;
      background-color: base.$primary-color;
      cursor: pointer;
      transition: all 0.5s;

      @include media("<=desktop") {
        width: 30%;
      }

      &:hover {
        background-color: base.$light-green-color;
        color: base.$primary-color;
      }
    }
  }

  &Text {
    margin: 1rem;

    @include media("<=desktop") {
      margin: 0.75rem;
    }

    &Title {
      font-weight: 600;
      cursor: pointer;
      margin: 0.5rem 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transition: all 1s;

      &:hover {
        text-decoration: underline;
        opacity: 0.8;
      }
    }

    &Info {
      margin: 0.5rem 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: flex;

      @include media("<=desktop") {
        margin: 0.25rem 0;
        font: base.$content-14;
      }

      .cardIcon {
        color: base.$primary-color;
        margin-right: 0.75rem;
      }
    }

    button {
      width: 100%;
      margin: 0.5rem 0;
      position: relative;
      overflow: hidden;
      z-index: 3;

      &::after {
        content: "Join Room";
        position: absolute;
        top: 50%;
        transform: translateY(-8.74px);
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
      }
    }
  }
}
