@import "./breakpoints/breakpoints.scss";

$primary-color: #279b24;
$secondary-color: #9fa3a0;
$grey-color: #dcdcdc;
$black-color: #333333;
$form-color: #f9f9f9;
$white-color: #ffffff;
$light-green-color: #c1e5c0;
$warning-color: #eeb218;
$danger-color: #e7281c;

$content-10: 400 10px "Source Sans Pro", sans-serif;
$content-12: 400 12px "Source Sans Pro", sans-serif;
$content-14: 400 14px "Source Sans Pro", sans-serif;
$content-16: 400 16px "Source Sans Pro", sans-serif;
$content-18: 400 18px "Source Sans Pro", sans-serif;
$content-20: 400 20px "Source Sans Pro", sans-serif;
$content-24: 400 24px "Source Sans Pro", sans-serif;
$content-40: 400 40px "Source Sans Pro", sans-serif;
$content-52: 400 52px "Source Sans Pro", sans-serif;

$title-24: 700 24px "Montserrat", sans-serif;
$title-40: 700 40px "Montserrat", sans-serif;
$title-52: 700 52px "Montserrat", sans-serif;

$head-14: 600 14px "Montserrat", sans-serif;
$head-16: 600 16px "Montserrat", sans-serif;
$head-18: 600 18px "Montserrat", sans-serif;
$head-20: 600 20px "Montserrat", sans-serif;
$head-24: 600 24px "Montserrat", sans-serif;

$body-12: 400 12px "Montserrat", sans-serif;
$body-14: 400 14px "Montserrat", sans-serif;
$body-16: 400 16px "Montserrat", sans-serif;
